@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.background {
    position: fixed;
    inset: 0;
    z-index: -5;
    background-image: url('/bg.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1.8px); /* Adjust the blur value as needed */
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity as needed */
}

.content {
    position: relative;
    z-index: 1;
    min-height: 100vh; /* Ensure content takes at least the full viewport height */
}
html{
    scroll-behavior: smooth;
    margin-top: 65px;
}